In [3]:
from nupy import intermediate_value, secant

iterations = intermediate_value(function="x**3-5", variable="x", intervals=[1, 2], tolerance=1e-50)
iterations.head(15)

         a_n             b_n               p_n                   f_n
0   1.0000000000  2.00000000000000  1.500000000000000 -1.62500000000000000000
1   1.5000000000  2.00000000000000  1.750000000000000  0.35937500000000000000
2   1.5000000000  1.75000000000000  1.625000000000000 -0.70898437500000000000
3   1.6250000000  1.75000000000000  1.687500000000000 -0.19458007812500000000
4   1.6875000000  1.75000000000000  1.718750000000000  0.07736206054687500000
5   1.6875000000  1.71875000000000  1.703125000000000 -0.05985641479492187500
6   1.7031250000  1.71875000000000  1.710937500000000  0.00843954086303710938
7   1.7031250000  1.71093750000000  1.707031250000000 -0.02578657865524291992
8   1.7070312500  1.71093750000000  1.708984375000000 -0.00869307667016983032
9   1.7089843750  1.71093750000000  1.709960937500000 -0.00013166014105081558
10  1.7099609375  1.71093750000000  1.710449218750000  0.00415271695237606764
11  1.7099609375  1.71044921875000  1.710205078125000  0.00201022259716410190
12  1.7099609375  1.71020507812500  1.710083007812500  0.00093920478138898034
13  1.7099609375  1.71008300781250  1.710021972656250  0.00040375320918428770
14  1.7099609375  1.71002197265625  1.709991455078125  0.00013604175640580252

In [4]:
iterations = secant(function="x**3-5", variable="x", intervals=[1, 2], tolerance=1e-60)
iterations.head(15)

         a_n             b_n               p_n                   f_n
0   1.0000000000  2.00000000000000  1.500000000000000 -1.62500000000000000000
1   1.5000000000  2.00000000000000  1.750000000000000  0.35937500000000000000
2   1.5000000000  1.75000000000000  1.625000000000000 -0.70898437500000000000
3   1.6250000000  1.75000000000000  1.687500000000000 -0.19458007812500000000
4   1.6875000000  1.75000000000000  1.718750000000000  0.07736206054687500000
5   1.6875000000  1.71875000000000  1.703125000000000 -0.05985641479492187500
6   1.7031250000  1.71875000000000  1.710937500000000  0.00843954086303710938
7   1.7031250000  1.71093750000000  1.707031250000000 -0.02578657865524291992
8   1.7070312500  1.71093750000000  1.708984375000000 -0.00869307667016983032
9   1.7089843750  1.71093750000000  1.709960937500000 -0.00013166014105081558
10  1.7099609375  1.71093750000000  1.710449218750000  0.00415271695237606764
11  1.7099609375  1.71044921875000  1.710205078125000  0.00201022259716410190
12  1.7099609375  1.71020507812500  1.710083007812500  0.00093920478138898034
13  1.7099609375  1.71008300781250  1.710021972656250  0.00040375320918428770
14  1.7099609375  1.71002197265625  1.709991455078125  0.00013604175640580252